.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100dvh;
  overflow-x: scroll;
}

.header {
  font-size: 36;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: black;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.button-container button {
  background-color: #CEFFD3;
  color: black
}

.rawcycle-logo-results {
  width: 80px;
}

.material-warning {
  text-align: center;
}

.item-not-found {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-table th {
  font-weight: bold;
}

.result-table th,
.result-table td {
  padding: 8px;
}